<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html Form</title><hr>
</head>
<body>
    <form action="/page1" method="POST">
        <label for="science">Science</label><br><br>
        <input type="text" name="science" id="science" value="0"><br>
        <label for="maths">Maths</label><br><br>
        <input type="text" name="maths" id="maths" value="0"><br>
        <label for="c">C</label><br><br>
        <input type="text" name="c" id="c" value="0"><br>
        <label for="data_science">Data Science</label><br><br>
        <input type="text" name="data_science" id="data_science" value="0"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>